<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav {{ theme }}" [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
            [mode]="(isHandset | async) ? 'over' : 'side'" [opened]="!(isHandset | async)">
        <mat-toolbar class="toolbar {{ theme }}">
            <div class="toolbar-title">
                <div class="username" [title]="username">{{ username }}</div>
                <button mat-icon-button class="btn" [matMenuTriggerFor]="menu" aria-label="Password change">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="nav-menu {{ theme }}">
                    <button mat-menu-item (click)="openPasswordModal()">
                        <mat-icon>lock</mat-icon>
                        <span>Change Password</span>
                    </button>
                    <button mat-menu-item (click)="deleteAccount()">
                        <mat-icon>person_remove</mat-icon>
                        <span>Delete Account</span>
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
        <mat-nav-list class="nav-list">
            <div class="mode-toggler">
                <mat-slide-toggle (toggleChange)="toggleTheme()" [checked]="theme === 'Dark'">
                    {{ theme }} Mode {{ theme === 'Dark' ? '(beta)' : '' }}
                </mat-slide-toggle>
            </div>
            <a mat-list-item [ngClass]="'nav-link ' + (pageTitle == 'dashboard' ? 'active-link ' : ' ') + theme"
                (click)="goToUrl('/user/dashboard',sidenav)">
                <span class="item-icon">
                    <mat-icon>dashboard</mat-icon>
                </span>
                <span class="item-name">Dashboard</span>
            </a>
            <a mat-list-item [ngClass]="'nav-link ' + (pageTitle == 'income' ? 'active-link ' : ' ') + theme"
                (click)="goToUrl('/user/income',sidenav)">
                <span class="item-icon">
                    <mat-icon>attach_money</mat-icon>
                </span>
                <span class="item-name">Income</span>
            </a>
            <a mat-list-item [ngClass]="'nav-link ' + (pageTitle == 'expenditure' ? 'active-link ' : ' ') + theme"
                (click)="goToUrl('/user/expenditure',sidenav)">
                <span class="item-icon">
                    <mat-icon>credit_card</mat-icon>
                </span>
                <span class="item-name">Expenditure</span>
            </a>
            <a mat-list-item class="logout {{ theme }}" (click)="logout()">
                <span class="item-icon">
                    <mat-icon>exit_to_app</mat-icon>
                </span>
                <span class="item-name">Logout</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="toolbar" color="primary">
            <button class="menu-btn" mat-icon-button (click)="sidenav.toggle()" *ngIf="isHandset | async">
                <mat-icon aria-label="Side Nav toggle icon">menu</mat-icon>
            </button>
            <div class="nav-header" *ngIf="pageTitle">XTrack {{ pageTitle === 'dashboard' ? ' - Dashboard' : '' }}</div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>