.sidenav-container {
    height: 100vh;
    //background-color: hsl(236, 100%, 77%);

    .sidenav {
        min-width: 200px;
        max-width: 250px;
    }
}

.nav-link {
    .item-icon {
        margin-right: 10px;
    }
}

.active-link {
    background-color: rgba(0, 0, 0, 0.04);
}

.logout {
    margin: 20px auto;

    &:hover {
        color: #2534ff;
        background-color: transparent;
    }

    .item-icon {
        margin-right: 10px;
    }
}

.toolbar-title {
    width: 100%;
    line-height: 40px;
    display: flex;
    justify-content: space-between;

    .username {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}