.form-field {
    width: 90%;
    margin-left: 10px;

    .form-icon {
        cursor: pointer;
    }
}

.password-error {
    width: fit-content;
    margin: auto;
    background-color: hsl(0, 100%, 70%);
    border: 1px solid hsl(0, 100%, 50%);
    font-size: 1rem;
    text-align: center;
    padding: 5px;

    .close {
        float: right;
        cursor: pointer;
        margin-left: 10px;
        font-weight: bold;
    }
}