<h2>Change Password</h2>
<mat-dialog-content class="modal-content">
    <form [formGroup]="passwordForm" class="modal-form">
        <mat-form-field class="form-field">
            <mat-label>Old Password</mat-label>
            <input matInput [type]="showPassword[0] ? 'text' : 'password'" formControlName="oldPassword" autocomplete="off">
            <mat-icon matSuffix class="form-icon" (click)="togglePassword(0)">
                {{ showPassword[0] ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            <mat-error *ngIf="passwordForm.get('oldPassword')?.invalid">Required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>New Password</mat-label>
            <input matInput [type]="showPassword[1] ? 'text' : 'password'" formControlName="newPassword" autocomplete="off">
            <mat-icon matSuffix class="form-icon" (click)="togglePassword(1)">
                {{ showPassword[1] ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            <mat-error *ngIf="passwordForm.get('newPassword')?.invalid">Required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Retype New Password</mat-label>
            <input matInput [type]="showPassword[2] ? 'text' : 'password'" formControlName="confirmPassword" autocomplete="off">
            <mat-icon matSuffix class="form-icon" (click)="togglePassword(2)">
                {{ showPassword[2] ? 'visibility' : 'visibility_off' }}
            </mat-icon>
            <mat-error *ngIf="passwordForm.get('confirmPassword')?.invalid">Required</mat-error>
        </mat-form-field>
    </form>
    <div class="password-error" *ngIf="error != ''">
        {{ error }}
        <span class="close" (click)="error = ''">&times;</span>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="btn-group">
    <button mat-raised-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [disabled]="passwordForm.invalid" (click)="changePassword()">Save</button>
</mat-dialog-actions>