<!-- 
    message: Any string
    submessage: Any string
    type -> success, info
    icon -> tick: done
            !: error
    okBtn: boolean
    confirmBtn: boolean
    cancelBtn: boolean
 -->
<div class="box-container">
    <div class="icon-div">
        <mat-icon [ngClass]="'icon ' + config.type">
            {{ config.icon }}
        </mat-icon>
    </div>
    <div class="message">{{ config.message }}</div>
    <div class="sub-message" *ngIf="config.submessage">{{ config.submessage }}</div>
    <mat-dialog-actions class="btn-container">
        <button mat-raised-button mat-dialog-close *ngIf="config.cancelBtn">
            Cancel
        </button>
        <button mat-raised-button color="primary" mat-dialog-close *ngIf="config.okBtn">
            Ok
        </button>
        <button mat-raised-button color="primary" *ngIf="config.confirmBtn" (click)="confirm()">
            Confirm
        </button>
    </mat-dialog-actions>
</div>