@use '../../shared/variables.scss' as variables;

.mat-dialog-container {
    &.Dark {
        background-color: variables.$sidenav-bg;
    }
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;

    div {
        text-align: center;
    }
}

.icon-div {
    .icon {
        font-size: 2rem;
        font-weight: bold;
    }

    .success {
        color: green;
    }

    .confirm {
        color: red;
    }
    
    .info {
        color: yellow;
    }
}

.message {
    color: black;
    font-size: 1.1rem;
}

.sub-message {
    color: grey;
    font-size: 0.75rem;
}