<div class="container">
    <main class="main">
        <div class="loading" *ngIf="loading">
            <app-loading></app-loading>
        </div>
        <div class="activated" *ngIf="activated">
            <div class="success"><mat-icon class="icon">check_circle</mat-icon></div>
            <div class="text">Account Activated Successfully!<br>You can now start using your account😃</div>
        </div>
        <div class="invalid" *ngIf="invalid">
            <div class="error"><mat-icon class="icon">error</mat-icon></div>
            <div class="text">Oops! The page you're looking for doesn't exist🙁</div>
        </div>
    </main>
</div>