<div class="container">
    <main class="main">
        <div class="week">
            <div class="week-header" *ngIf="!loading">
                <div class="title">Weekly Data</div>
                <mat-form-field class="type-select">
                    <mat-label class="select-label">Type</mat-label>
                    <mat-select [value]="0" (selectionChange)="changeType($event.value)">
                        <mat-option [value]="0">
                            Expense
                        </mat-option>
                        <mat-option [value]="1">
                            Income
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="week-body">
                <canvas id="week-chart"></canvas>
            </div>
        </div>
        <div class="month">
            <div class="month-header" *ngIf="!loading">
                <div class="title">Monthly Data</div>
            </div>
            <div class="calendar" *ngIf="!loading">
                <div class="header">{{ monthNames[today.getMonth()] + ' ' + today.getFullYear() }}</div>
                <div class="row">
                    <div class="cell day-name" *ngFor="let d of dayNames">
                        {{ d[0] }}
                    </div>
                </div>
                <div class="row" *ngFor="let row of monthMatrix">
                    <div class="cell" *ngFor="let cell of row" matTooltipClass="tooltip" matTooltipPosition="above"
                        [ngClass]="cell === ' ' ? 'no-day' : (cell == today.getDate() ? 'today' : 'day')"
                        [matTooltip]="'Income: ' + monthData[1][cell - 1] + '\nExpense: ' + monthData[0][cell - 1]" 
                        [matTooltipDisabled]="cell === ' ' || cell > today.getDate()">
                        {{ cell }}
                    </div>
                </div>
            </div>
            <div class="month-footer" *ngIf="!loading">
                <div class="total">Total</div>
                <div class="income">Income: {{ totalMonthData[1] }}</div>
                <div class="expense">Expense: {{ totalMonthData[0] }}</div>
            </div>
        </div>
        <div class="year">
            <div class="year-header" *ngIf="!loading">
                <div class="title">Yearly Data</div>
            </div>
            <canvas id="year-chart"></canvas>
        </div>
    </main>
</div>
<app-screen-loader *ngIf="loading"></app-screen-loader>