.container {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;

    &.Dark {
        background: #292929;
    }
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.week, .month, .year {
    width: 42%;
    background-color: #673ab7;
    border-radius: 5px;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 10px 1px rgb(50, 50, 50);
    min-height: 200px;

    &-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: auto;
        flex-wrap: wrap;

        * {
            margin-left: 20px;
            font-size: 1.2rem;
            color: white;
        }

        .total {
            font-weight: bold;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

.week {
    &-header {
        height: 60px;

        .title {
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding-top: 10px;
        }

        .type-select {
            position: absolute;
            right: 0;
            top: 6px;
    
            .select-label {
                color: white;
            }
        
            ::ng-deep {
                .mat-select-arrow {
                    color: white;
                }
                .mat-select-value {
                    color: white;
                }
                .mat-form-field-underline {
                    background-color: white;
                }
            }
        }
    }

    &-body {
        width: 75%;
        margin: auto;
    }

    ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
        background-color: black;
    }
}

.year {
    width: 88%;

    &-header {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        color: white;
        $size: 20px;

        .title {
            font-weight: 500;
            text-align: center;
            font-size: $size;
        }

        .sign {
            text-align: center;
            cursor: pointer;

            span {
                line-height: $size;
                font-size: $size;
                transition-duration: .5s;

                &:hover {
                    transform: scale(1.2);
                }

                &:first-child {
                    margin-right: 10px;
                }

                &:last-child {
                    margin-left: 10px;
                }
            }
        }
    }
}

.month {
    .calendar {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        margin: auto;
        $size: 2.5rem;
        $border-width: 0.0625rem;

        // disbale text selection
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .row {
            display: flex;

            .cell {
                border: $border-width solid white;
                width: $size;
                height: $size;
                text-align: center;
                line-height: $size;
                background-color: rgba(255, 255, 255, 0.1);
            }

            .cell:first-child {
                border-left: $border-width * 2 solid white;
            }

            .cell:last-child {
                border-right: $border-width * 2 solid white;
            }

            .day {
                transition-duration: .2s;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                }
            }

            .today {
                font-weight: bolder;
                font-size: 1.1rem;
            }

            .day-name {
                font-weight: bold;
            }
        }

        .row:last-child {
            .cell {
                border-bottom: $border-width * 2 solid white;
            }
        }

        .header {
            width: $size * 7 + $border-width * 12;
            height: $size;
            border: $border-width * 2 solid white;
            border-bottom: $border-width solid white;
            line-height: $size;
            font-size: 16px;
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: space-around;

            .sign {
                text-align: center;
                cursor: pointer;

                span {
                    line-height: $size;
                    vertical-align: middle;
                    transition-duration: .5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    &-header {
        height: 60px;

        .title {
            color: white;
            font-size: 20px;
            font-weight: 500;
            padding-top: 10px;
        }
    }
}

::ng-deep .tooltip {
    white-space: pre-line;
    background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1200px) {
    .week {
        &-body {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .month {
        .calendar {
            $size: 2rem;
            $border-width: 0.0625rem;

            .row {
                .cell {
                    width: $size;
                    height: $size;
                    line-height: $size;
                }
            }

            .header {
                width: $size * 7 + $border-width * 12;
                height: $size;
                line-height: $size;

                .sign {
                    span {
                        line-height: $size;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .week, .month, .year {
        width: 90%;

        .type-select {
            width: 120px;
        }
    }
}

::ng-deep .mat-select-panel {
    background-color: rgb(41, 41, 41);
    
    .mat-option {
        color: white;
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.04);
        }
    }
}