<div class="container">
    <main class="main mat-elevation-z8">
        <header class="header">
            <h1 class="title">{{ title }}</h1>
            <div class="add-btn-container">
                <button mat-raised-button class="add-btn" (click)="openAddModal()">
                    <mat-icon>add</mat-icon> New
                </button>
            </div>
        </header>
        <div class="controls">
            <div class="select-container">
                <mat-form-field class="form-field" appearance="fill">
                    <mat-label>Period</mat-label>
                    <mat-select [value]="selectedPeriod.value" (selectionChange)="changePeriod($event.value)">
                        <mat-option *ngFor="let p of periods" [value]="p.value">
                            {{ p.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="calendar-container" *ngIf="selectedPeriod.value === 4">
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="rangePicker">
                      <input matStartDate placeholder="Start date" (dateInput)="rangeSelected(true, $event.value)" [max]="today">
                      <input matEndDate placeholder="End date" (dateInput)="rangeSelected(false, $event.value)" [max]="today">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #rangePicker color="primary"></mat-date-range-picker>
                </mat-form-field>
            </div>
            <div class="btn-container">
                <button mat-raised-button color="primary" (click)="showFilters = !showFilters">
                    <mat-icon>filter_alt_outline</mat-icon>
                    <span class="btn-text">Filter</span>
                </button>
            </div>
        </div>
        <div class="filter-container" *ngIf="showFilters">
            <form [formGroup]="filterForm" (ngSubmit)="applyFilters()" class="filter-form">
                <div class="date-form">
                    <mat-form-field class="form-field date">
                        <mat-label>Date</mat-label>
                        <mat-select formControlName="date">
                            <mat-option [value]="''">Any</mat-option>
                            <mat-option *ngFor="let d of dates" [value]="d">
                                {{ d }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field class="form-field month">
                        <mat-label>Month</mat-label>
                        <mat-select formControlName="month">
                            <mat-option [value]="''">Any</mat-option>
                            <mat-option *ngFor="let m of months" [value]="m">
                                {{ monthNames[m] }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field class="form-field year">
                        <input matInput type="number" placeholder="Year" autocomplete="off" formControlName="year">
                        <mat-error *ngIf="filterForm.get('year')?.invalid">
                            Invalid Year
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field class="form-field day">
                    <mat-label>Day</mat-label>
                    <mat-select formControlName="day">
                        <mat-option [value]="''">Any</mat-option>
                        <mat-option *ngFor="let d of days" [value]="d">
                            {{ dayNames[d] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="form-field">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let c of categories" [value]="c">
                            {{ c }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="form-field">
                    <input matInput [placeholder]="displayedColumns[1]" autocomplete="off" formControlName="name">
                </mat-form-field>
    
                <div class="amount-form">
                    <mat-form-field class="form-field">
                        <input matInput type="number" placeholder="Min Amount" autocomplete="off" formControlName="minAmount">
                        <mat-error *ngIf="filterForm.get('minAmount')?.invalid">
                            Invalid Amount
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="form-field">
                        <input matInput type="number" placeholder="Max Amount" autocomplete="off" formControlName="maxAmount">
                        <mat-error *ngIf="filterForm.get('maxAmount')?.invalid">
                            Invalid amount
                        </mat-error>
                    </mat-form-field>
                </div>
    
                <div class="apply-btn-container">
                    <button mat-flat-button color="primary" [disabled]="!filterForm.valid">Apply</button>
                    <button mat-flat-button color="accent" (click)="clearFilters()">Clear Filters</button>
                </div>
            </form>
        </div>
        <div class="custom-dates-container" *ngIf="selectedPeriod.value === 5">
            <div class="title">Dates Selected</div>
            <mat-chip-list class="custom-date-list">
                <mat-chip class="custom-date" *ngFor="let d of customDates" color="primary"
                        selected (removed)="removeCustomDate(d)">
                    {{ d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear() }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <div class="custom-date-input">
                    <input matInput [matDatepicker]="datePicker" style="display: none;" [max]="today" 
                            (dateInput)="addCustomDate($event.value)">
                    <mat-datepicker-toggle matSuffix [for]="datePicker">
                      <mat-icon matDatepickerToggleIcon>add_circle_outline</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker touchUi #datePicker></mat-datepicker>
                </div>
            </mat-chip-list>
        </div>
        <div class="table-container">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="S.No">
                    <th mat-header-cell *matHeaderCellDef> S.No </th>
                    <td mat-cell *matCellDef="let i = index"> {{ i + 1 + pageIndex * pageSize }} </td>
                </ng-container>
                <ng-container [matColumnDef]="displayedColumns[1]">
                    <th mat-header-cell *matHeaderCellDef class="data-col">
                        <div class="th-cell" (click)="sortData('name')">
                            <div> {{ displayedColumns[1] }} </div>
                            <div *ngIf="sorted[0] === 'name'">
                                <mat-icon *ngIf="sorted[1] === 1">arrow_drop_up</mat-icon>
                                <mat-icon *ngIf="sorted[1] === 2">arrow_drop_down</mat-icon>
                            </div>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef class="data-col"> 
                        <div class="th-cell" (click)="sortData('amount')">
                            <div> Amount (₹) </div> 
                            <div *ngIf="sorted[0] === 'amount'">
                                <mat-icon *ngIf="sorted[1] === 1">arrow_drop_up</mat-icon>
                                <mat-icon *ngIf="sorted[1] === 2">arrow_drop_down</mat-icon>
                            </div>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.amount }} </td>
                </ng-container>
                <ng-container matColumnDef="Category">
                    <th mat-header-cell *matHeaderCellDef class="data-col"> 
                        <div class="th-cell" (click)="sortData('category')">
                            <div> Category </div>
                            <div *ngIf="sorted[0] === 'category'">
                                <mat-icon *ngIf="sorted[1] === 1">arrow_drop_up</mat-icon>
                                <mat-icon *ngIf="sorted[1] === 2">arrow_drop_down</mat-icon>
                            </div>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
                </ng-container>
                <ng-container matColumnDef="Date">
                    <th mat-header-cell *matHeaderCellDef class="data-col"> 
                        <div class="th-cell" (click)="sortData('date')">
                            <div> Date </div>
                            <div *ngIf="sorted[0] === 'date'">
                                <mat-icon *ngIf="sorted[1] === 1">arrow_drop_up</mat-icon>
                                <mat-icon *ngIf="sorted[1] === 2">arrow_drop_down</mat-icon>
                            </div>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{ (element.date <= 9 ? '0' : '') + element.date + ' - ' + monthNames[element.month] + ' - ' + element.year }} 
                    </td>
                </ng-container>
                <ng-container matColumnDef="Day">
                    <th mat-header-cell *matHeaderCellDef class="data-col">
                        <div class="th-cell" (click)="sortData('day')">
                            <div> Day </div>
                            <div *ngIf="sorted[0] === 'day'">
                                <mat-icon *ngIf="sorted[1] === 1">arrow_drop_up</mat-icon>
                                <mat-icon *ngIf="sorted[1] === 2">arrow_drop_down</mat-icon>
                            </div>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ dayNames[element.day] }} </td>
                </ng-container>
                <ng-container matColumnDef="controls">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let i = index"> 
                        <button mat-icon-button (click)="openEditModal(i)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="openDeleteModal(i)" color="warn">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <tr *matNoDataRow>
                    <td class="no-data-cell" colspan="6"> --- No Results --- </td>
                </tr>
            </table>
        </div>
        <mat-paginator #paginator [length]="filteredData.length" [pageSizeOptions]="pageSizes" showFirstLastButtons
                (page)="changePage($event)" [pageSize]="pageSize" [pageIndex]="pageIndex">
        </mat-paginator>
        <div class="footer-btns">
            <button mat-flat-button (click)="generatePdf()" [disabled]="displayedData.length === 0"
                [ngClass]="displayedData.length > 0 ? 'btn' : ''">
                <mat-icon>print</mat-icon>
                Print
            </button>
            <button mat-flat-button (click)="sendMail()" [disabled]="displayedData.length === 0"
                [ngClass]="displayedData.length > 0 ? 'btn' : ''">
                <mat-icon>email</mat-icon>
                Send to Mail
            </button>
            <button mat-flat-button (click)="copyDataToClipboard()" [disabled]="displayedData.length === 0 || copied"
                [ngClass]="displayedData.length > 0 ? 'btn' : ''">
                <span class="material-icons" [style.color]="copied ? '#3fff00' : 'white'">
                    {{ copied ? 'check_circle' : 'content_copy'}}
                </span>
                {{ copied ? 'Copied!' : 'Copy Data'}}
            </button>
        </div>
    </main>
    
    <main class="main mat-elevation-z8">
        <header class="header">
            <h1 class="title">Analytics</h1>
        </header>
        <app-analytics [data]="filteredData" [title]="title"></app-analytics>
    </main>
</div>