.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .add-btn-container {
        button {
            background-color: hsl(262, 93%, 48%);
            color: white;
            padding: 1px 7px 1px 5px;

            &:hover {
                background-color: hsl(262, 93%, 38%);
                box-shadow: 0 3px 10px 1px hsl(0, 0%, 55%);
            }
        }
    }
}

.controls {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    .btn-container {
        button {
            padding: 0.2em 0.5em;

            &:hover {
                box-shadow: 0 3px 10px 1px hsl(0, 0%, 55%);
            }
        }
    }
}

.filter-form {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .form-field {
        margin: 0 10px;
    }

    .date-form {
        .date {
            width: 50px;
        }
        .month {
            width: 100px;
        }
        .year {
            width: 50px;
        }
    }

    .apply-btn-container {
        button {
            margin-left: 1rem;
            transition-duration: 0.5s;
            
            &:hover {
                box-shadow: 0 3px 10px 1px hsl(0, 0%, 55%);
            }
        }
    }
}

.table-container {
    overflow-x: auto;
    ::ng-deep table {
        width: 100%;

        thead {
            tr {
                background-color: rgba(0, 0, 0, 0.1);

                th {
                    font-size: 0.8rem;
                }

                .data-col {
                    .th-cell {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                    }

                    &:hover {
                        color: black;
                    }
                }
            }
        }

        tbody {
            tr {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                .no-data-cell {
                    text-align: center;
                    padding: 10px;
                    color: gray;
                    letter-spacing: 0.2em
                }
            }
        }
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 800px) {
    .main {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .table-container {
        table {
            width: 600px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .main {
        padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .form-field {
        width: 40%;
    }
}