@use '../../shared/variables.scss' as variables;

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.Dark {
        background: variables.$container-bg;

        main {
            background-color: variables.$main-bg;
            color: white;
        }
    }
}

.main {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.add-btn-container {
    button, .file-upload {
        background-color: hsl(262, 93%, 48%);
        color: white;
        padding: 1px 7px 1px 5px;

        &:hover {
            background-color: hsl(262, 93%, 38%);
            box-shadow: 0 0 10px 1px hsl(0, 0%, 30%);
        }
    }

    &.Dark {
        button, .file-upload {
            &:hover {
                box-shadow: 0 0 10px 1px hsl(0, 0%, 55%);
            }
        }
    }

    .file-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        transition-duration: .5s;
        margin-left: 10px;

        .mat-icon {
            margin-right: 5px;
        }
    }
}

.controls {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;

    .btn-container {
        button {
            padding: 0.2em 0.5em;

            &:hover {
                box-shadow: 0 0 10px 1px hsl(0, 0%, 30%);
            }
        }

        &.Dark {
            button {
                &:hover {
                    box-shadow: 0 0 10px 1px hsl(0, 0%, 55%);
                }
            }
        }
    }
}

.filter-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 20px;

    &.Dark {
        border-color: white;
    }
}

.filter-form {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .form-field {
        margin: 0 10px;
    }

    .date-form {
        .date {
            width: 50px;
        }
        .month {
            width: 100px;
        }
        .year {
            width: 50px;
        }
    }

    .apply-btn-container {
        button {
            margin-left: 1rem;
            transition-duration: 0.5s;
            
            &:hover {
                box-shadow: 0 0 10px 1px hsl(0, 0%, 30%);
            }
        }

        &.Dark {
            button {
                &:hover {
                    box-shadow: 0 0 10px 1px hsl(0, 0%, 55%);
                }
            }
        }
    }
}

.custom-dates-container {
    margin-bottom: 20px;

    .title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

.table-container {
    overflow-x: auto;
    ::ng-deep table {
        width: 100%;

        thead {
            tr {
                background-color: rgba(0, 0, 0, 0.1);

                th {
                    font-size: 0.8rem;
                    padding-right: 20px;
                }

                .data-col {
                    .th-cell {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                    }

                    &:hover {
                        color: black;
                    }
                }
            }
        }

        tbody {
            tr {
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                td {
                    padding-right: 20px;
                }

                .no-data-cell {
                    text-align: center;
                    padding: 10px;
                    color: gray;
                    letter-spacing: 0.2em
                }
            }
        }
    }
}

.selection-info {
    margin: 20px 10px 0;
    font-style: italic;
    font-weight: lighter;
}

.footer-btns {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    button {
        margin-left: 10px;
        color: white;
        margin-top: 10px;
    }

    .btn {
        background-color: hsl(264, 60%, 48%);
        transition-duration: 0.5s;

        &:hover {
            color: white;
            background-color: hsl(264, 60%, 28%);
            box-shadow: 0 0 10px 1px hsl(0, 0%, 30%);
        }

        &.red {
            background-color: hsl(4, 90%, 58%);

            &:hover {
                background-color: hsl(4, 90%, 38%);
            }
        }
    }

    &.Dark {
        .btn {
            &:hover {
                box-shadow: 0 0 10px 1px hsl(0, 0%, 55%);
            }
        }
    }
}

.form-field.Dark,
.select-container.Dark {
    .label {
        color: white;
    }

    ::ng-deep {
        .mat-select-arrow {
            color: white;
        }
        .mat-select-value {
            color: white;
        }
        .mat-form-field-underline {
            background-color: white;
            height: 1px;
        }
        .mat-form-field-appearance-fill .mat-form-field-flex,
        .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
            background-color: variables.$select-bg;
        }
    }

    ::placeholder,
    :-ms-input-placeholder /* Internet Explorer 10-11 */,
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
        opacity: 1;
    }
}

::ng-deep .Dark {
    &.mat-select-panel {
        background-color: variables.$select-menu-bg;
        
        .mat-option {
            color: white;
            
            &:hover {
                background-color: rgba(255, 255, 255, 0.04);
            }
        }
    }
    
    &.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: variables.$selected-bg;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 800px) {
    .main {
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .table-container {
        table {
            width: 600px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .main {
        padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
    .filter-form {
        .form-field {
            width: 40%;
        }
    }
}