<div class="container">
    <div class="main">
        <div class="loading" *ngIf="loading">
            <app-loading bgColor="none"></app-loading>
        </div>
        <div class="email-form" *ngIf="!loading && !invalid && url === 'forgot'">
            <div class="header">Forgot Password</div>
            <form [formGroup]="emailForm" (ngSubmit)="sendMail()">
                <mat-form-field class="form-field">
                    <input matInput placeholder="Enter the registered mail id" type="email" 
                        formControlName="email" autocomplete="off">
                    <mat-error *ngIf="emailForm.get('email')?.invalid">
                        Please enter a valid mail id
                    </mat-error>
                </mat-form-field>
                <div class="error" *ngIf="error != ''">
                    {{ error }}
                    <span class="close" (click)="error = ''">&times;</span>
                </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="emailForm.invalid">Submit</button>
            </form>
        </div>
        <div class="password-form" *ngIf="!loading && !invalid && url !== 'forgot'">
            <div class="header">Reset Password</div>
            <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
                <mat-form-field class="form-field">
                    <input matInput placeholder="New Password" [type]="showPassword[0] ? 'text' : 'password'" 
                        formControlName="password" autocomplete="off">
                    <mat-icon matSuffix class="form-icon" (click)="showPassword[0] = !showPassword[0]">
                        {{ showPassword[0] ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                    <mat-error *ngIf="passwordForm.get('password')?.invalid">
                        Required
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <input matInput placeholder="Retype New Password" [type]="showPassword[1] ? 'text' : 'password'" 
                        formControlName="confirmPassword" autocomplete="off">
                    <mat-icon matSuffix class="form-icon" (click)="showPassword[1] = !showPassword[1]">
                        {{ showPassword[1] ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                    <mat-error *ngIf="passwordForm.get('confirmPassword')?.invalid">
                        Required
                    </mat-error>
                </mat-form-field>
                <div class="error" *ngIf="error != ''">
                    {{ error }}
                    <span class="close" (click)="error = ''">&times;</span>
                </div>
                <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Save</button>
            </form>
        </div>
        <div class="invalid" *ngIf="invalid">
            <div class="error"><mat-icon class="icon">error</mat-icon></div>
            <div class="text">Oops! The page you're looking for doesn't exist🙁</div>
        </div>
    </div>
</div>