.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #673ab7;
    flex-direction: column;
}

.main {
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
}

.email-form, .password-form {
    background-color: white;
    padding: 20px 30px;

    .header {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 300px;

        .error {
            width: fit-content;
            margin: 0 auto 10px;
            background-color: hsl(0, 100%, 70%);
            border: 1px solid hsl(0, 100%, 50%);
            font-size: 1rem;
            text-align: center;
            padding: 5px;
        
            .close {
                float: right;
                cursor: pointer;
                margin-left: 10px;
                font-weight: bold;
            }
        }
    }
}

.form-field {
    width: 95%;
    margin-bottom: 10px;

    .form-icon {
        cursor: pointer;
    }
}

.invalid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;

    div {
        width: 100%;
        text-align: center;
    }

    .error {
        color: red;
        .icon {
            font-size: 50px;
        }
    }

    .text {
        margin-left: 10px;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .email-form, .password-form {
        form {
            width: 200px;
        }
    }
}